{% include 'ModuloAdministradorBundle:Default:baseAdminHeaderAlto.html.twig' %}
<link id="bs-css" href="{{asset('bundles/angelesvida/other/css/bootstrap-cerulean.min.css')}}" rel="stylesheet">
<link href="{{asset('bundles/angelesvida/other/css/charisma-app.css')}}" rel="stylesheet">
<link href="{{asset('bundles/angelesvida/css/tableIndex.css')}}" rel="stylesheet">

<script
    type="text/javascript"
    src="{{ asset('bundles/angelesvida/js/jquery/jquery.js') }}">
</script>

<script
    type="text/javascript"
    src="{{ asset('bundles/angelesvida/js/jquery-validate/jquery.validate.js') }}">
</script>


<!-- top-nav -->
<nav class="top-nav">
    <div class="shell">
        <a href="#" class="nav-btn">Inicio<span></span></a>
        <span class="top-nav-shadow"></span>
        <ul>
            <li><span><a href="{{ url('aInicio') }}">Inicio</a></span></li>
            <li><span><a href="{{ url('aActividades') }}">Actividades</a></span></li>
            <li class="active"><span><a href="{{ url('aDocumentos') }}">Documentos</a></span></li>
            <li><span><a href="{{ url('aCuentas') }}">Cuentas</a></span></li>
            <li><span><a href="{{ url('aEditarInicio') }}">Editar Inicio</a></span></li>

        </ul>
    </div>
</nav>

<div class="navbar navbar-default" role="navigation">

    <div class="navbar-inner">
        <button type="button" class="navbar-toggle pull-left animated flip">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>
</div>
<div class="col-sm-2 col-lg-2">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked">
                <ul class="nav nav-pills nav-stacked main-menu">
                    {% block titleCrud %}
                    {% endblock %}

                    <li><a class="ajax-link" href="{{path('aSubirImagen')}}"><i class="glyphicon glyphicon-plus"></i><span> Actualizar</span></a>
                    </li>
                    <li><a class="ajax-link" href="{{path('aCuentas')}}"><i class="glyphicon glyphicon-arrow-left"></i><span>Regresar</span></a>
                    </li>

                </ul>

            </div>
        </div>
    </div>     
</div>

{% for type, flashMessage in app.session.flashbag.all() %}
    <div class="alert alert-{{ type }} fade in">
        <button class="close" data-dismiss="alert" type="button">×</button>
        {% if flashMessage.title is defined %}
            {{ flashMessage.message }}
        {% else %}
            {{ type }}
        {% endif %}
    </div>
{% endfor %}
{% block bodyCrud %}
{% endblock %}
<script src="{{asset('bundles/angelesvida/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>

<!-- library for cookie management -->
<script src="{{asset('bundles/angelesvida/js/jquery.cookie.js')}}"></script>
<!-- calender plugin -->
<script src='{{asset('bundles/angelesvida/bower_components/moment/min/moment.min.js')}}'></script>
<script src='{{asset('bundles/angelesvida/bower_components/fullcalendar/dist/fullcalendar.min.js')}}'></script>
<!-- data table plugin -->
<script src='{{asset('bundles/angelesvida/js/jquery.dataTables.min.js')}}'></script>

<!-- select or dropdown enhancer -->
<script src="{{asset('bundles/angelesvida/bower_components/chosen/chosen.jquery.min.js')}}"></script>
<!-- plugin for gallery image view -->
<script src="{{asset('bundles/angelesvida/bower_components/colorbox/jquery.colorbox-min.js')}}"></script>
<!-- notification plugin -->
<script src="{{asset('bundles/angelesvida/js/jquery.noty.js')}}"></script>
<!-- library for making tables responsive -->
<script src="{{asset('bundles/angelesvida/bower_components/responsive-tables/responsive-tables.js')}}"></script>
<!-- tour plugin -->
<script src="{{asset('bundles/angelesvida/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js')}}"></script>
<!-- star rating plugin -->
<script src="{{asset('bundles/angelesvida/js/jquery.raty.min.js')}}"></script>
<!-- for iOS style toggle switch -->
<script src="{{asset('bundles/angelesvida/js/jquery.iphone.toggle.js')}}"></script>
<!-- autogrowing textarea plugin -->
<script src="{{asset('bundles/angelesvida/js/jquery.autogrow-textarea.js')}}"></script>
<!-- multiple file upload plugin -->
<script src="{{asset('bundles/angelesvida/js/jquery.uploadify-3.1.min.js')}}"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="{{asset('bundles/angelesvida/js/jquery.history.js')}}"></script>
<!-- application script for Charisma demo -->
<script src="{{asset('bundles/angelesvida/js/charisma.js')}}"></script>
{% include 'ModuloAdministradorBundle:Default:baseAdminHeaderAlto.html.twig' %}