{% include 'ModuloDoctoresBundle:Default:baseDoctoresHeaderAlto.html.twig' %}



<!-- top-nav -->
                {% block top_nav %}
		<nav class="top-nav" ">
                    <div class="shell" >
				<!--<a href="#" class="nav-btn">Inicio<span></span></a>
				<span class="top-nav-shadow"></span>-->
				<ul class="clearfix">
					<li><a href="{{ url('dInicio') }}">Inicio</a></li>
                                        <li><a href="{{ url('dArticulos') }}">Articulos</a></li>
                                        <li class="active"><a href="{{ url('dProtocolos') }}">Protocolos</a></li>
                                        <li><a href="{{ url('dHorarios') }}">Horarios y Roles</a></li>
					<li><a href="{{ url('login') }}">Salir</a></li>
                                       
				</ul>
			</div>
		</nav>
                {% endblock %}       
		<!-- end of top-nav -->
{% include 'ModuloDoctoresBundle:Default:baseDoctoresFooter.html.twig' %} 


