{% extends "baseCrud.html.twig" %}
{% block titleCrud %}
    <li class="nav-header">Protocolos</li>
    {% endblock %}
    {% block bodyCrud %}

    <script>
        $(function () {
            $("#form").validate({
                rules: {
                    'nombre': 'required',
                    'descripcion': 'required'
                },
                messages: {
                    'nombre': 'Este campo es requerido.'
                },
                debug: true,
                submitHandler: function (form) {
                    alert('Datos de protocolo ingresados correctamente.');
                }
            });
        });

    </script>


    <center>
        <h2>Crear Protocolo</h2>


        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-content">
                        {% if message is defined%}
                            <div class="alert alert-info"><font color="088A08">{{message}}</font></div>
                            {% endif %}

                        {{form_start(form)}}
                        {{form_errors(form)}}


                        {{ form_label(form.nombre) }}
                        {{ form_errors(form.nombre) }}
                        {{ form_widget(form.nombre) }}
                        <br>
                        <br>
                        {{ form_label(form.descripcion) }}
                        {{ form_errors(form.descripcion) }}
                        {{ form_widget(form.descripcion) }}
                        <br>
                        <br>
                        {{ form_rest(form) }}

                        {{form_end(form)}}
                        <br>
                        <a class="btn btn-primary" href="{{ path('protocolo') }}">
                            Volver a usuarios
                        </a>
                        </center>
                    {% endblock %}